@model Owleet.Models.Test

<div>Questions</div>
<a href="#" class="btn btn-primary" data-target="#modal-container" data-toggle="modal" data-url="@Url.RouteUrl(new {controller = "Question", action = "Create", testId = Model.Id})">Add question</a> 
<div>
    @foreach (var question in Model.Questions)
    {
        <div>@Html.DisplayFor(modelItem => question.Text)</div>
        <a href="#" class="btn btn-primary" data-target="#modal-container" data-toggle="modal" data-url="@Url.RouteUrl(new {controller = "Answer", action = "Create", questionId = question.Id})">Add answer</a>  
        <a href="#" class="btn btn-primary" data-target="#modal-container" data-toggle="modal" data-url="@Url.RouteUrl(new {controller = "Question", action = "Edit", id = question.Id})">Edit question</a> 
        <a href="#" class="btn btn-primary" data-target="#modal-container" data-toggle="modal" data-url="@Url.RouteUrl(new {controller = "Question", action = "Delete", id = question.Id})">Remove question</a> 
        foreach (var answer in question.Answers)
        {
            <div>@Html.DisplayFor(modelItem => answer.Text)</div>
            <div>@Html.DisplayFor(modelItem => answer.IsTrue)</div>
            <a href="#" class="btn btn-primary" data-target="#modal-container" data-toggle="modal" data-url="@Url.RouteUrl(new {controller = "Answer", action = "Edit", id = answer.Id})">Edit answer</a> 
            <a href="#" class="btn btn-primary" data-target="#modal-container" data-toggle="modal" data-url="@Url.RouteUrl(new {controller = "Answer", action = "Delete", id = answer.Id})">Remove answer</a> 
        }
    }
</div>